center
    h1 Definition of Done
    h4 Lineup for code review process
br
br
div.container
    div.row
        a(href="/")
            button.btn About
        | &nbsp;&nbsp;
        a(href="/todo")
            button.btn Checklist
        | &nbsp;&nbsp;
        a(href="/done")
            button.btn Done

br
br