extends layout

block content
  div.container
    h4 Rules defines by team for code review considered to be done.
    ol
      li
        h4 Verify directory and file organization are followed.
      li
        h4 Verify proper comment and declaration are in place.
      li
        h4 Verify naming conventions are followed.
      li
        h4 Verify miscellaneous practices are followed.
      li
        h4 Verify code standards are taken care.
