extends layout

block content
    div.container
        form(action="", method="post")
            div.row
                a(href="http://localhost:3001/markalldone")
                    button.btn.btn-success(type="button") all Done
                    | &nbsp;&nbsp;
                input(type="text", name="content" required=true)
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                button.btn.btn-danger(type="submit") add
        br
        br
        each val, index in data
            div.row
                a(href="http://localhost:3001/markdone/"+val._id)
                    button.btn.btn-success(type="button") its Done
                | &nbsp;&nbsp;
                = index+1 + ". " + val.content + " (Created at: " + val.date + ")"
                | &nbsp;&nbsp;&nbsp;&nbsp;
                a(href="http://localhost:3001/delete/"+val._id)
                    button.btn.btn-danger delete
            br
